.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background: #f4f5f9;

}
.card {
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: white;
  border: none;

}
.card-top{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card-button{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.but-main{
  background: #22c55e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 10px;
}
.but-min{
  background: rgb(244, 225, 234);
  color: hotpink;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
.bit-to{
  background: rgb(224, 219, 249);
  color: darkslateblue;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;  
}
.bit-too{
  background: #f2f0f9;
  color: darkslateblue;
  border: none;
  padding: 5px 10px;
  border-radius: 8px; 
  margin-right: 120px; 
}
hr {
  width: 100%;
  border: none;
  border-top: 1px solid #eee;
  margin: 15px 0;
}